/* Universal Selector */
*{
    color: red;
}

/* element selector */

p{
    background-color: tomato;
}
h3{
    background-color: teal;
}
/* class selector */
.shu{
    /* background-color: goldenrod; */
    font-size: 10px;
}
.kaito{
    font-size: 50px;
}
/* id selector */
#logo-name{
    background-color: aqua;
}
#anri{
    font-size: 50px;
}
/* and (,) selector */
a,h4{
    background-color: yellow;
}
/* descendant (space) selector */
div ol li ol li,ul span{
    background-color: gray;
}

/* hierarchy or specificity */
/* high__inline CSS(NEED'!important') > !important > id > class > element __low*/
#joe{
    background-color: seagreen;
}
.yuya{
    background-color: brown;
}
h5{
    background-color: green;
}
h5{
    background-color: blueviolet !important;
}